<div class="col-lg-7 col-md-7 offset-lg-3 offset-md-3" style="margin-top: 20px;">
    <h3 class="text-primary">Forgot Password</h3>
    <br>

    <form [formGroup]="forgotPassForm" (ngSubmit)="verifyQuestion()">
        <div class="form-group">
            <label for="mobileNumber" class="required">Mobile Number : </label>
            <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number" />

            <div *ngIf="submitted && forgotPassForm.controls.mobileNumber.errors" class="error">
                <div class="text-danger" *ngIf="forgotPassForm.controls.mobileNumber.errors.required">
                    Mobile Number is Required..
                </div>
                <div class="text-danger" *ngIf="forgotPassForm.controls.mobileNumber.errors.pattern">
                    Mobile Number must be numeric..!
                </div>
                <div class="text-danger" *ngIf="forgotPassForm.controls.mobileNumber.errors.minlength || forgotPassForm.controls.mobileNumber.errors.maxlength">
                    Mobile Number must be 10 digits long..!
                </div>
            </div>

        </div>
        <!-- End Of Mobile Number -->
        <div class="form-group">
            <label for="securityQuestion" class="required">Security Question : </label>
            <select class="form-control" formControlName="securityQuestion">
                <option>Favourite Pet Name</option>
                <option>Your Vehicle Number</option>
                <option>Favourite City</option>
            </select>
            <div *ngIf="submitted && forgotPassForm.controls.securityQuestion.errors" class="error">
                <div class="text-danger" *ngIf="forgotPassForm.controls.securityQuestion.errors.required">
                    Security Question is Required..
                </div>
            </div>

        </div>
        <!-- End Of Security Question -->


        <div class="form-group">
            <label for="answer" class="required">Answer : </label>
            <input type="text" class="form-control" formControlName="answer" placeholder="Answer" />
            <div *ngIf="submitted && forgotPassForm.controls.answer.errors" class="error">
                <div class="text-danger" *ngIf="forgotPassForm.controls.answer.errors.required">
                    Answer is Required..
                </div>

            </div>
        </div>
        <!-- End Of Answer -->

        <button class="btn btn-outline-success">Submit</button> &nbsp;
        <a class="btn btn-outline-danger" routerLink="/login">Cancel</a><br><br>
        <br>
    </form>
</div>